# Ignore all node_modules folders
**/node_modules/

# Ignore environment files
.env

# Ignore log files
*.log

# Ignore build/dist folders
**/dist/
**/build/

# Ignore system files
.DS_Store
Thumbs.db